@use "./variables.scss" as *;

// put your custom CSS here!
footer {
  display: none !important;
}
h2, h3, h4, h5, h6 {
  color: gray;
  font-size: 1.1rem;
  font-weight: normal;
  letter-spacing: 0.05em;
}

h1 {
  color: white;
}
